@model  TP1_CreditImmobilier.Models.Simulation

@{
    ViewBag.Title = "View";}


<h2>Enregistrement des produits</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Nouveau produit</legend>

        <div class="editor-label">
            @Html.LabelFor(model => @Model.clientName)
            @Html.TextBoxFor(model => @Model.clientName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.date)
            @Html.TextBoxFor(model => @Model.date)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.dureCreditMois)
            @Html.TextBoxFor(model => @Model.dureCreditMois)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.empruntedCapital)
            @Html.TextBoxFor(model => @Model.empruntedCapital)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.montantEcheance)
            @Html.TextBoxFor(model => @Model.montantEcheance)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.montantEcheance)
            @Html.TextBoxFor(model => @Model.montantEcheance)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.nbrEcheance)
            @Html.TextBoxFor(model => @Model.nbrEcheance)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.tauxAssurance)
            @Html.TextBoxFor(model => @Model.tauxAssurance)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.tauxAssurancePeriod)
            @Html.TextBoxFor(model => @Model.tauxAssurancePeriod)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.tauxInteretAnnuel)
            @Html.TextBoxFor(model => @Model.tauxInteretAnnuel)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => @Model.tauxInteretPeriod)
            @Html.TextBoxFor(model => @Model.tauxInteretPeriod)
        </div>
        <p>
            <input type="submit" value="Enregistrer" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Create")
</div>
